@model MVCBeginner.Models.Stats

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="FrontPic">
    <h3>Front Sprite</h3>
    <img src="@Model.sprites.front_default" />
</div>

<div class="BackPic">
    <h3>Back Sprite</h3>
    <img src="@Model.sprites.back_default" />
</div>

<div>
    <h4>Stats</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
