@model IEnumerable<MVC_EF__Try2_.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FavoriteColor)
        </th>
        <th></th>
    </tr>*@

<div class="container">
    <div class="row">

 

@foreach (var item in Model)
{
    @*<tr>*@

        <div class="col-sm-3">

            <div class="card" style="width: 18rem;">
                @*<img src="..." class="card-img-top" alt="...">*@
                <div class="card-body">
                    <h5 class="card-title">@item.LastName, @item.FirstName - @item.StudentID</h5>
                    <p class="card-text">Favorite Color - @item.FavoriteColor</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>

    @*<td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FavoriteColor)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.StudentID })
        </td>*@
    @*</tr>*@
}

</div>
</div>

@*</table>*@
